<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LexmarkHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BE8553A1D6C703400BEAE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE855511D6C703500BEAE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE8555C1D6C703500BEAE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
